.A {
    background: darkgray;
    width: 400px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    color: azure;
    border: 5px solid silver;

}

.B {
    background: darkgray;
    width: 300px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    color: azure;
    border: 5px solid silver;
}

.C, .D, .E {
    background: darkgray;
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    color: azure;
    border: 5px solid silver;
}

#F {
    background: darkgray;
    width: 100px;
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    color: azure;
    border: 5px solid silver;
}

#child2 {
    display: flex;
}

#center {
    display: flex;
}

#big {

}