.h200 {
    height: 200px;
}

.h50 {
    height: 50px;
}

.h150 {
    height: 150px;
}

.w300 {
    width: 300px;
}

.w200 {
    width: 200px;
}

.w100 {
    width: 100px;
}

.bg-block {
    background: #d99a9a;
}

.bg-contener {
    background: #c67777;
}

.displey {
    display: flex;
}

.colum {
    column-gap: 7px;
}

.br {
    border-radius: 10px;
    padding: 8px;
    flex-direction: column;
    row-gap: 7px;
}

.color {
    color: azure;
}

.text {
    text-align: center;
}


@media screen and (max-width: 350px) {
    .w300, .w200, .w100 {
        width: 150px;
    }

    .displey {
        flex-direction: column;
        row-gap: 7px;

    }
}
